* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

#wrapper {
  width: 35%;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  padding: 50px;
  color: #0f0f0f;
  background: radial-gradient(#f075b2, #f11bf1);
}
#wrapper h1 {
  text-transform: uppercase;
  margin-bottom: 5%;
  text-align: center;
}
#single-task {
  width: 353px;
  padding: 15px;
}
button {
  background: linear-gradient(45deg, #dc1599, #f99369);
  border: none;
  color: #fff;
  padding: 13px 18px;
  font-size: 18px;
}
.task {
  margin-bottom: 5px;
  margin-top: 20px;
  background: #fff;
  color: #000;
  list-style: none;
  padding: 0 15px;
  line-height: 35px;
}
.task input[type="checkbox"] {
  display: none;
}
.task .delete {
  color: red;
  cursor: pointer;
  font-size: 30px;
  margin: 0;
  float: right;
}

body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  font-family: Ariel, Charcoal, sans-serif;
}

#container {
  width: 500px;
  height: 525px;
  background-color: #f8f7f5;
  margin: 50px auto;
}

header {
  background: rgba(18, 136, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(18, 136, 255, 1) 0%,
    rgba(8, 182, 245, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(18, 136, 255, 1)),
    color-stop(100%, rgba(8, 182, 245, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(18, 136, 255, 1) 0%,
    rgba(8, 182, 245, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(18, 136, 255, 1) 0%,
    rgba(8, 182, 245, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(18, 136, 255, 1) 0%,
    rgba(8, 182, 245, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(18, 136, 255, 1) 0%,
    rgba(8, 182, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#08b6f5', GradientType=0 );
  margin: 0;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
}

nav {
  background-color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

nav li {
  float: left;
  width: 33.1%;
  border-right: 1px solid;
}

nav li:last-child {
  border: none;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

.active {
  background-color: #f8f7f5;
}

h1 {
  margin: 0;
}

.list {
  height: 250px;
  overflow: hidden;
  list-style: none;
  display: none;
}

.input {
  padding-left: 30px;
}

.listActive {
  display: block;
}

input[type="checkbox"] {
}
/*

input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}
input[type=checkbox]:checked + label:before {
    content:"\2713"; /* Tick 
    color:white;
    background-color: #666; 
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
}

*/

.menu {
  border-top: 2px solid grey;
  width: 500px;
}

.menu label,
.menu input {
  display: block;
  width: 150px;
  float: left;
  margin: 10px 0px;
}

.menu label {
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
}

br {
  clear: left;
}

.list {
  padding: 0px;
}

.list li {
  font-size: 1.25em;
  margin-top: 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}

#cbox {
  margin-left: 30px;
  margin-right: 40px;
}
